<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<body ng-app="myApp">
    <div ng-controller="myCtrl">
        <h1 ng-click="changeName(toggle)">{{firstname[toggle]}}</h1>
    </div>
    <div ng-controller="namesController">
        <div ng-repeat="person in names">
            {{ person }}
        </div>
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {
            $scope.toggle = 0;
            $scope.firstname = {
                0: 'Neil',
                1: 'John'
            }
            $scope.changeName = function () {
                $scope.toggle = !$scope.toggle & 1
            }
        });
        angular.module('myApp').controller('namesController', function($scope) {
            $scope.names = [
                {name:'Jani',country:'Norway'},
                {name:'Hege',country:'Sweden'},
                {name:'Kai',country:'Denmark'}
            ];
        });
    </script>
</body>

</html>