<html>

<head>
    <title> Dependency Injection in AngularJS</title>
</head>

<body>
    <h1>Example of Dependency Injection</h1>
    <div ng-app="lootPaat" ng-controller="CalcController">
        <p>Enter a number: <input type="number" ng-model="number" /></p> <button
            ng-click="cube()">X<sup>3</sup></button>
        <p>Result: {{result}}</p>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script>
        var lootPaat = angular.module("lootPaat",
            []);

        //create a service using provider which describes a method cube to return cube of a number.
        lootPaat.config(function ($provide) {
            $provide.provider('MultiplyService', function () {
                this.$get = function () {
                    var factory = {};
                    factory.multiply = function (a, b, c) {
                        return a * b * c;
                    }
                    return factory;
                };
            });
        });

        // make a value object as "defaultInput" and pass it a data
        lootPaat.value("defaultInput", 2);

        /*make a factory "MultiplyService" which gives a method multiply to return multiplication of three numbers  */
        lootPaat.factory('MultiplyService', function () {
            var factory = {};
            factory.multiply = function (a, b, c) {
                return a * b * c;
            }
            return factory;
        });

        /* inject the factory "MultiplyService" in a service to use the multiply method of factory and make a service which defines a method cube to return cube of a number*/
        lootPaat.service('CalcService', function (MultiplyService) {
            this.cube = function (a) {
                return MultiplyService.multiply(a, a, a);
            }
        });

        /* insert the value using its name "defaultInput" and
        insert the service "CalcService" into the controller */
        lootPaat.controller('CalcController', function ($scope, CalcService, defaultInput) {
            $scope.number = defaultInput;
            $scope.result = CalcService.cube($scope.number);
            $scope.cube = function () {
                $scope.result = CalcService.cube($scope.number);
            }
        });
    </script>
    <hr />
                                                                <pre>
                                                                    <strong>Code is below: </strong>
                                                                    <i>
                                                                            var lootPaat = angular.module("lootPaat",
                                                                            []);
                                                                
                                                                        //create a service using provider which describes a method cube to return cube of a number.
                                                                        lootPaat.config(function ($provide) {
                                                                            $provide.provider('MultiplyService', function () {
                                                                                this.$get = function () {
                                                                                    var factory = {};
                                                                                    factory.multiply = function (a, b, c) {
                                                                                        return a * b * c;
                                                                                    }
                                                                                    return factory;
                                                                                };
                                                                            });
                                                                        });
                                                                
                                                                        // make a value object as "defaultInput" and pass it a data
                                                                        lootPaat.value("defaultInput", 2);
                                                                
                                                                        /*make a factory "MultiplyService" which gives a method multiply to return multiplication of three numbers  */
                                                                        lootPaat.factory('MultiplyService', function () {
                                                                            var factory = {};
                                                                            factory.multiply = function (a, b, c) {
                                                                                return a * b * c;
                                                                            }
                                                                            return factory;
                                                                        });
                                                                
                                                                        /* inject the factory "MultiplyService" in a service to use the multiply method of factory 
                                                                           and make a service which defines a method cube to return cube of a number*/
                                                                        lootPaat.service('CalcService', function (MultiplyService) {
                                                                            this.cube = function (a) {
                                                                                return MultiplyService.multiply(a, a, a);
                                                                            }
                                                                        });
                                                                
                                                                        /* insert the value using its name "defaultInput" and
                                                                        insert the service "CalcService" into the controller */
                                                                        lootPaat.controller('CalcController', function ($scope, CalcService, defaultInput) {
                                                                            $scope.number = defaultInput;
                                                                            $scope.result = CalcService.cube($scope.number);
                                                                            $scope.cube = function () {
                                                                                $scope.result = CalcService.cube($scope.number);
                                                                            }
                                                                        });
                                                                    </i>
                                                                </pre>
</body>

</html>